* {
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif; 
	font-size: 14px;
}

section {
	margin-bottom: 60px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr:first-child td {
    color: #ffffff;
    background-color: #55608f;
    text-transform: uppercase;
    padding: 16px 8px;
}

table td {
	border: .5px solid #1c1e1f;
	padding: 8px;
	text-align: center;
	vertical-align: middle;
}